.center {
    width: 900px;
    margin: 0 auto;
}

#user_menu {
    border: 1px solid blue;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.nav_btn {
    background-color: #EEF;
    margin-left: 10px;
    line-height: 38px;
    width: 100px;
    text-align: center;
    float: left;
    height: inherit;
}

.nav_btn:hover {
    background-color: #DDD;
    cursor: pointer;
}

#nav_menu_links {
    width: 100%;
}

#nav_right_btns {
    height: inherit;
    width: 300px;
}

ul,
li,
a {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #eef;
}

#ul_right {
    display: block;
    float: right
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

#ul_right>li {
    float: left;
    position: relative;
    text-align: center;
    width: 50px;
    line-height: 38px;
    border-left: 1px solid blue;
}

.user_acc_sub>li {
    line-height: normal;
    padding: 5px;
    border: 1px solid blue;
}

#ul_right>li:hover>ul.user_acc_sub {
    display: block;
}


/************************************************/

.user_acc_sub {
    display: none;
    position: absolute;
    right: 0;
}

#ul_alrt {
    width: 200px;
}

#user_alert {
    margin-left: auto;
}

.user_main {
    display: flex;
    flex-wrap: nowrap;
}

#left_user_block {
    width: 150px;
    max-height: 300px;
    border: 1px solid blue;
    margin-right: 15px;
    padding: 5px;
}

#user_avatar_block {
    text-align: center;
}

#user_photo {
    width: 100px;
}

#user_content {
    width: 100%;
    border: 1px solid blue;
}

#profile_main {
    background-color: #ececec;
    padding: 100px 80px;
}

.profile_block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 100px;
}

#profile_capt {
    margin-bottom: 30px;
}

.profile_caption {
    font-family: Myriad Pro;
    font-size: 30px;
    line-height: 0.9;
    color: black;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#profile_ava_left {
    float: left;
}

#profile_ava_right{
    text-align: right;
}

#profile_ava_right img {
    width: 300px;
}

#load_ava,
#load_docpasport,
#load_docwork,
#load_docincome
{
    width: 415px;
    height: 50px;
    margin-top: 70px;
    background-color: #fff;
    border: 1px solid black;
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2em;
    cursor: pointer;
}

#load_ava:hover,
#load_docpasport:hover,
#load_docwork:hover,
#load_docincome:hover
{
    border: 2px solid black;
}

#user_profile_save_info,
#user_profile_save_contacts,
#user_profile_save_pass
{
    margin: auto;
    width: 400px;
    height: 60px;
    text-align: center;
    background-color: #00769d;
    color: #fff;
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2em;    
}

input {
    margin: 10px 5px;
}

label {
    color: #858585;
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2em; 
}